@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  --background: #f5f5f5;
  --foreground: #0a0a0a;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #f5f5f5;
}

.sidebar {
  background-color: rgb(var(--sidebar));
}
